

<!DOCTYPE html>
<html>
<head>
<title>Bil bakalım</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-6">
    		<img id="img-preview" src="#" alt="preview image" class="img-thumbnail" style="max-height:400px; display:none;">
			<br/>
                    <strong>Files:</strong><br>
                    <label for="file-picker">Resim Dosyası:</label>
                    <input id="file-picker" type="file" name="file" accept="image/*" multiple>
                    <div id="msg"></div>
                    <button  value="Upload!" id="upload-button">
        </div>
    </div>
<br>
<hr>
    <input type="submit" value="Bil bakalım bu ne!" id="tahminbuton">
    <div id="msg"></div>   
</form>

</body>
<script>

        function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#img-preview').attr('src', e.target.result);
					$('#img-preview').show();

					$("#results").html('');
				}

				reader.readAsDataURL(input.files[0]);
			}
		}


    $("#file-picker").change(function(){
        var input = document.getElementById('file-picker');
        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }
        }
    } );
    

</script>
</html>